<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg" href="../assets/icon.svg" />
    <link rel="stylesheet" href="storyView.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story</title>
    <script type="module" src="/src/views/storyView.ts"></script>
    <script src="/src/helpers/themeHelper.ts"></script>
  </head>
  <body>
    <div>
      <div id="project-page">
        <button id="logout-button">Logout</button>
        <div id="theme-toggle">
          <button id="moon-icon">🌑</button>
          <button id="sun-icon" style="display: none">☀️</button>
        </div>
      </div>
    </div>
  </body>
</html>
